# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
aiofiles=23.2.1=pypi_0
aiohttp=3.9.3=pypi_0
aiosignal=1.3.1=pypi_0
altair=5.2.0=pypi_0
annotated-types=0.6.0=pypi_0
anthropic=0.37.1=pypi_0
anyio=3.7.1=pypi_0
appnope=0.1.4=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asgiref=3.7.2=pypi_0
asttokens=2.4.1=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
asyncer=0.0.2=pypi_0
attrs=23.2.0=pypi_0
babel=2.14.0=pypi_0
backcall=0.2.0=pypi_0
backoff=2.2.1=pypi_0
bcrypt=4.1.2=pypi_0
beautifulsoup4=4.12.2=pypi_0
bidict=0.22.1=pypi_0
bleach=6.1.0=pypi_0
blinker=1.7.0=pypi_0
build=1.0.3=pypi_0
bzip2=1.0.8=h6c40b1e_6
ca-certificates=2024.9.24=hecd8cb5_0
cachetools=5.3.2=pypi_0
certifi=2024.2.2=pypi_0
cffi=1.16.0=pypi_0
chainlit=0.7.700=pypi_0
charset-normalizer=3.3.2=pypi_0
chroma-hnswlib=0.7.3=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
comm=0.2.1=pypi_0
contourpy=1.1.1=pypi_0
curl-cffi=0.6.0b9=pypi_0
cycler=0.12.1=pypi_0
dataclasses-json=0.5.14=pypi_0
debugpy=1.8.0=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.14=pypi_0
distlib=0.3.8=pypi_0
distro=1.9.0=pypi_0
docstring-inheritance=2.1.2=pypi_0
duckduckgo-search=4.4=pypi_0
easydict=1.10=pypi_0
exceptiongroup=1.2.0=pypi_0
executing=2.0.1=pypi_0
faiss-cpu=1.7.4=pypi_0
fastapi=0.100.1=pypi_0
fastapi-socketio=0.0.10=pypi_0
fastjsonschema=2.19.1=pypi_0
ffmpy=0.3.1=pypi_0
filelock=3.13.1=pypi_0
filetype=1.2.0=pypi_0
flask=2.3.2=pypi_0
flask-socketio=5.3.4=pypi_0
flatbuffers=23.5.26=pypi_0
fonttools=4.48.1=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.2.0=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.41=pypi_0
google-auth=2.27.0=pypi_0
googleapis-common-protos=1.62.0=pypi_0
gradio=4.19.0=pypi_0
gradio-client=0.10.0=pypi_0
greenlet=3.0.3=pypi_0
grpcio=1.60.1=pypi_0
h11=0.14.0=pypi_0
httpcore=0.17.3=pypi_0
httptools=0.6.1=pypi_0
httpx=0.24.1=pypi_0
huggingface-hub=0.20.3=pypi_0
humanfriendly=10.0=pypi_0
idna=3.6=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.1.1=pypi_0
ipykernel=6.29.1=pypi_0
ipython=8.13.0=pypi_0
ipywidgets=8.1.1=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.3=pypi_0
jiter=0.6.1=pypi_0
jq=1.6.0=pypi_0
json5=0.9.14=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.21.1=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=8.6.0=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-core=5.7.1=pypi_0
jupyter-events=0.9.0=pypi_0
jupyter-lsp=2.2.2=pypi_0
jupyter-server=2.12.5=pypi_0
jupyter-server-terminals=0.5.2=pypi_0
jupyterlab=4.0.13=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.25.2=pypi_0
jupyterlab-widgets=3.0.9=pypi_0
kiwisolver=1.4.5=pypi_0
kubernetes=29.0.0=pypi_0
langchain=0.1.20=pypi_0
langchain-community=0.0.38=pypi_0
langchain-core=0.1.52=pypi_0
langchain-experimental=0.0.58=pypi_0
langchain-openai=0.1.5=pypi_0
langchain-text-splitters=0.0.2=pypi_0
langsmith=0.1.137=pypi_0
lazify=0.4.0=pypi_0
libffi=3.4.4=hecd8cb5_1
literalai=0.0.103=pypi_0
loguru=0.7.2=pypi_0
lxml=5.1.0=pypi_0
markdown=3.4.4=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.20.2=pypi_0
matplotlib=3.7.5=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
mistune=3.0.2=pypi_0
mmh3=4.1.0=pypi_0
monotonic=1.6=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.5=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclient=0.9.0=pypi_0
nbconvert=7.15.0=pypi_0
nbformat=5.9.2=pypi_0
ncurses=6.4=hcec6c5f_0
nest-asyncio=1.6.0=pypi_0
networkx=3.1=pypi_0
notebook=7.0.7=pypi_0
notebook-shim=0.2.3=pypi_0
notion-client=2.2.1=pypi_0
numexpr=2.8.6=pypi_0
numpy=1.24.3=pypi_0
oauthlib=3.2.2=pypi_0
onnxruntime=1.16.3=pypi_0
openai=1.11.1=pypi_0
opencv-python=4.9.0.80=pypi_0
openssl=3.0.15=h46256e1_0
opentelemetry-api=1.22.0=pypi_0
opentelemetry-exporter-otlp=1.22.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.22.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.22.0=pypi_0
opentelemetry-exporter-otlp-proto-http=1.22.0=pypi_0
opentelemetry-instrumentation=0.43b0=pypi_0
opentelemetry-instrumentation-asgi=0.43b0=pypi_0
opentelemetry-instrumentation-fastapi=0.43b0=pypi_0
opentelemetry-proto=1.22.0=pypi_0
opentelemetry-sdk=1.22.0=pypi_0
opentelemetry-semantic-conventions=0.43b0=pypi_0
opentelemetry-util-http=0.43b0=pypi_0
orjson=3.9.15=pypi_0
overrides=7.7.0=pypi_0
packaging=23.2=pypi_0
pandas=2.2.0=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.3=pypi_0
pexpect=4.9.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.2.0=pypi_0
pinecone-client=3.0.3=pypi_0
pip=24.2=pypi_0
platformdirs=3.11.0=pypi_0
plotly=5.18.0=pypi_0
posthog=3.4.0=pypi_0
prometheus-client=0.19.0=pypi_0
prompt-toolkit=3.0.43=pypi_0
protobuf=4.25.2=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pulsar-client=3.4.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=15.0.0=pypi_0
pyasn1=0.5.1=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycparser=2.21=pypi_0
pydantic=2.6.1=pypi_0
pydantic-core=2.16.2=pypi_0
pydeck=0.8.1b0=pypi_0
pydub=0.25.1=pypi_0
pygame=2.5.2=pypi_0
pygments=2.17.2=pypi_0
pyjwt=2.8.0=pypi_0
pyparsing=3.1.1=pypi_0
pypdf=4.0.1=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.0.0=pypi_0
python=3.10.15=hce00570_1
python-dateutil=2.8.2=pypi_0
python-dotenv=1.0.1=pypi_0
python-engineio=4.9.0=pypi_0
python-graphql-client=0.4.3=pypi_0
python-json-logger=2.0.7=pypi_0
python-multipart=0.0.6=pypi_0
python-socketio=5.11.1=pypi_0
pytz=2024.1=pypi_0
pyyaml=6.0=pypi_0
pyzmq=25.1.2=pypi_0
qtconsole=5.5.1=pypi_0
qtpy=2.4.1=pypi_0
readline=8.2=hca72f7f_0
referencing=0.33.0=pypi_0
regex=2023.6.3=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
requests-toolbelt=1.0.0=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.7.0=pypi_0
rpds-py=0.17.1=pypi_0
rsa=4.9=pypi_0
ruff=0.2.1=pypi_0
safetensors=0.4.2=pypi_0
semantic-version=2.10.0=pypi_0
send2trash=1.8.2=pypi_0
setuptools=75.1.0=pypi_0
shellingham=1.5.4=pypi_0
simple-websocket=1.0.0=pypi_0
six=1.16.0=pypi_0
smmap=5.0.1=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.25=pypi_0
sqlite=3.45.3=h6c40b1e_0
stack-data=0.6.3=pypi_0
starlette=0.27.0=pypi_0
streamlit=1.28.1=pypi_0
streamlit-feedback=0.1.3=pypi_0
sympy=1.12=pypi_0
syncer=2.0.3=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.2.3=pypi_0
terminado=0.18.0=pypi_0
text-generation=0.6.1=pypi_0
tiktoken=0.5.2=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.14=h4d00af3_0
tokenizers=0.15.1=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.12.0=pypi_0
toolz=0.12.1=pypi_0
torch=2.2.0=pypi_0
torchaudio=2.2.0=pypi_0
torchvision=0.17.0=pypi_0
tornado=6.4=pypi_0
tqdm=4.66.1=pypi_0
traitlets=5.14.1=pypi_0
transformers=4.37.2=pypi_0
trubrics=1.6.2=pypi_0
typer=0.9.0=pypi_0
types-python-dateutil=2.8.19.20240106=pypi_0
typing-extensions=4.9.0=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2023.4=pypi_0
tzlocal=5.2=pypi_0
uptrace=1.22.0=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.2.0=pypi_0
uvicorn=0.23.2=pypi_0
uvloop=0.19.0=pypi_0
validators=0.22.0=pypi_0
virtualenv=20.23.0=pypi_0
watchdog=4.0.0=pypi_0
watchfiles=0.20.0=pypi_0
wcwidth=0.2.13=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.7.0=pypi_0
websockets=11.0.3=pypi_0
werkzeug=2.3.6=pypi_0
wheel=0.44.0=pypi_0
widgetsnbextension=4.0.9=pypi_0
wikipedia-api=0.6.0=pypi_0
wrapt=1.16.0=pypi_0
wsproto=1.2.0=pypi_0
xz=5.4.6=h6c40b1e_1
yarl=1.9.4=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h4b97444_1
